@model BestFilms.Models.Film
<div class="b1 ">
    <a asp-action="Index" class="c2">Вернуться к списку фильмов</a>
</div>
<h1 class=" b1 b3">Редактирование фильма</h1>

<div class="container">
     <div>
        <span class="c3">выберите файл<br />чобы изменить постер</span>
            <div class="img">
                <img src=@Url.Content( Model.Photo ) class="im i1" id="previewContainer">
            </div> 
            <form asp-action="Poster" asp-controller="Home" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="Id" />
            <input type="file"  asp-for="Photo" /><br />
            <input type="submit" value="изменить постер" /><br />
            <span class="c3">нажмите редактировать фильм<br /> для сохранения изменений</span>
            </form>
        </div> <div>
<div class="b1 b2">
    <div class="img ">
        <div class="b">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <span>Название фильма</span><br />
                    <input asp-for="Name" class="form-control h1" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div><br /><br />
                <div class="form-group">
                    <span>Жанр</span><br />
                    <input asp-for="Genre" class="form-control h1" />
                    <span asp-validation-for="Genre" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Режиссёр</span><br />
                    <input asp-for="Director" class="form-control h1" />
                    <span asp-validation-for="Director" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Год выхода фильма</span><br />
                    <input asp-for="Year" class="form-control" />
                    <span asp-validation-for="Year" class="text-danger"></span>
                </div><br />
                <div class="form-group">
                    <span>Сюжет</span><br />
                    <textarea asp-for="Story"></textarea>
                    
                    <span asp-validation-for="Story" class="text-danger"></span>
                </div><br />
                        <div class="form-group">
                            <span>Постер</span><br />                        
                            <input asp-for="Photo" class="form-control h1" readonly="readonly"/>
                            <span asp-validation-for="Photo" class="text-danger"></span>
                        </div><br />

                        <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <br /><br />
                    <input type="submit" value="Редактировать фильм" class="btn btn-primary c2" />
                </div>
                    </form>
        </div>
        
    </div>
  
</div>
        </div>
    </div>




