@model BestFilms.Models.Film
<div>
    <div class="img">
        <img src=@Url.Content( Model.Photo ) width="150" height="200" id="previewContainer">
    </div>
    <form asp-action="Poster" asp-controller="Home" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="Id" />
        <input type="file" name="Photo" id="fileInput" /><br />
        <input type="submit" value="изменить постер" />
    </form>
</div>
